body {
    margin: 0px;
    padding: 0px;
    color: white;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
    
}


.ol-overlaycontainer-stopevent {
    z-index: -1 !important;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    position: absolute;
    overflow-x: hidden;

}

.linkToMap {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 3;
    
}

@media screen and (max-width: 1024px){
    .linkToMap {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 6;
        grid-row-end: 6;
        left: calc(50% - 100px);
        position: relative;
    }
    .container {
        grid-template-rows: repeat(10, 10%);
        height: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px){
    .linkToMap {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 5;
        left: calc(50% - 100px);
        position: relative;
    }
    .container {
        grid-template-rows: repeat(3, 10%);
        height: 200%;
        overflow-x: hidden;
    }
}
    

    .openMap::before, .openMap::after {
        position: absolute;
        background: #0c1821;
        z-index: -1;
        content: '';
        transition-duration: 0.5s;
        opacity: 1

      }
      
      .openMap::before {
        height: 50px;
        width: 160px;
        left: 20px;
        top: -2px;
      }
      
      .openMap::after {
        width: 200px;
        height: 25px;
        left: -2px;
        top: 10px;
      }

      .openMap:hover::before {
        width: 0px;
        background: #0c1821;
        transform: scaleX(0);
        transition-duration: 0.5s;

      }
      
      .openMap:hover::after {
        height: 0px;
        background: #0c1821;
        transform: scaleY(0);
        transition-duration: 0.5s;
      }
      
      /* .openMap:hover {
        background: #fff;
      } */